html {
  height: 100%;
}

body {
  height: 100%;
}

.redBtn {
   height: 23px;
   text-align: center;
   border-top-left-radius :5px ;
   border-top-right-radius :5px ;
   border-bottom-left-radius :5px ;
   border-bottom-right-radius :5px ;
   background: #d20c41;
   color: white;
   border: 0px;
}

.error {
  color: red;
}

.main_content {
   position: relative;
   width: 100%;
   height: 53%;
   background-color: #4b7598;
}

.input-style {
  width: 317px;
  height: 27px;
  border: 0;
  outline: none;
  font-size: 18px;
}

.input-content {
   position: absolute;
   width: 360px;
   background: white;
   border-radius: 4px;
   height: 300px;
   box-shadow: grey 0 0 5.3px;
   right: 135px;
   bottom: -34%;
}

.input-div {
  width: 317px;
  position: relative;
  margin: 0 auto;    
  margin-top: 28px;
  border-bottom: 1px solid #b5b5b5;
}

.margin-top{
  margin-top: 72px;
}

.base-button {
  width: 100px;
  height: 45px;
  border: 0;
  border-radius: 4px;
  background-color: #10b999;
}

.button-content {
  margin-top: 27px;
  margin-left: 20px;
}